    <div class="header">
    </div>    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: <%= current_user.profile %>">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Alumni Database</h1>
                        <hr class="small">
                        <span class="subheading">Browse your fellow IXers </span>
						 
						

                    </div>
                </div>
            </div>
        </div>
    </header>
 -->
<div class ="container">

<div class="row">
<div class="col-lg-12">
<h1 class = 

<h1> Search for alumni in database</h1>
<p><%= link_to "Back", home_path %></p>

<%= form_tag profiles_search_path, method: :get do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %>
<% end %>

<div class ="profiles_list">
	<ul>
		<% @profiles.each do |profile| %>
		<li>
		<%= link_to profile.firstname, profile_path(profile) %> |
		<%= profile.city %> |
		<%= profile.university %>
	<% end %>
		</li>
	</ul>