    <div class="header">
    </div>    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: <%= current_user.profile %>">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="alumni-heading">
                        <h1>Alumni Database</h1>
                        <hr class="small">
                       
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Main Content -->
<div class ="container">
<div class="row">
 		<div class="col-lg-4 col-lg-offset-4  col-md-10 col-md-offset-1">
		<div class="post-preview">
                        <h2 class="post-title-profile">
                            Search for alumni in database
                        </h2>
                    </a>
                    <h3 class="post-subtitle-profile"> <%= form_tag profiles_search_path, method: :get do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %>
<% end %></h3>
                </div>
                </div>
<div class="row">
         <div class="col-lg-12">
           
         <table class='table'>

            <thead>
            	<tr>
	            	<th> Name </th>
	            	<th> iXyear</th>
	            	<th> Session </th>
	            	<th> University </th>
	            	<th> Occupation </th>
<<<<<<< HEAD
                    <th colpan ="6"></th>
	        	</tr>
        	</thead>
        	<tbody>
                 	<% @profiles.each do |profile| %>
                    <tr>
=======
	        		<th colpan="6"></th>
	        		</tr>
        	</thead>
        	<tbody>
        	 <% @profiles.each do |profile| %>
        			<tr>
>>>>>>> bb160512dfdb3f92c05d06a087785780812cf68a
		            <td><%= link_to profile.firstname, profile_path(profile) %></td>
		            <td><%=profile.ixyear %></td>
		            <td><%=profile.session%></td>
		            <td><%=profile.university%></td>
		            <td><%=profile.occupation%></td>
		        </tr>
		        <% end %>
		    </tbody>
		</table>
</div>
	


 