
<header class="intro-header" style="background-image: url('/images/stockphoto.jpg')">
     <div class="container">
         <div class="row">
             <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="profile-name">
                 <div class="site-heading">
                     <h1><%= @profile.firstname.capitalize %>'s profile </h1>

                     <hr class="small">
                     <span class="subheading"><%= link_to "Edit profile", edit_profile_path(@profile), :class => "link"%></span>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </header>
<br><br><br>


<div class = "col-md-4 col-md-offset-1" >
	<td><h3>iX year </h3><%=@profile.ixyear%></td>
	<h3>Session </h3> <%=@profile.session%>
	<h3>Degree </h3> <%=@profile.degree.capitalize%>
	<h3>University </h3> <%=@profile.university.capitalize%>
	<h3>Firm </h3> <%=@profile.occupation.capitalize%>
	<h3>City </h3> <%=@profile.city.capitalize%>
	<h3>Country </h3> <%=@profile.country%>

</div>

<div class = "col-md-4 col-md-offset-1" >
     <img src="<%=@profile.image_url %>">
    <h2>Contact details</h2>
    <h3>Email</h3> <%= current_user.email%>
</div>



