    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Forums</h1>
                        <hr class="small">
                        <span class="subheading">Connect with your fellow iXers </span>
                        <p><%= link_to 'Edit', edit_forum_path(@forum) %> | <%= link_to 'Destroy', forum_path(@forum),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1><%= @forum.name %> </h1>
                <p><%= @forum.description %> </p>

                <% if @forum.posts.present? %>
                    <% @forum.posts.reverse.each do |post| %>
                        <div class="post-preview">
                            <%= link_to forum_post_path(@forum, post) do %>
                                <h2 class="post-title">
                                    <%= post.title %>
                                </h2>
                            <% end %>
                            <p class="post-meta">Posted by <a href="#"><%= post.user.firstname %></a> <%= time_ago_in_words(post.created_at) %> ago</p>
                        </div>
                        <hr>
                    <% end %>
                <% else %>
                    No posts here yet!
                <% end %>
                <!-- Pager -->
<!--                 <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul> -->
                <div>
                    <%= link_to '<< Forum Index', forums_path %> 
                </div>

                <div>
                    <h2>Add a new post</h2>
                    <%= render 'posts/form' %>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>
