    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/experiencelearn.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1> <%= @forum.name %> </h1>
                        <hr class="small">
                        <span class="subheading"> <%= @forum.description %> </span>
                        <p><div class = "link"><%= link_to 'Edit', edit_forum_path(@forum) %> | <%= link_to 'Delete', forum_path(@forum),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></div></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <% if @forum.posts.present? %>
                    <% @forum.posts.reverse.each do |post| %>
                        <div class="post-preview">
                            <%= link_to forum_post_path(@forum, post) do %>
                                <h2 class="post-title">
                                    <%= post.title %>
                                </h2>
                            <% end %>
                            <p class="post-meta">Posted by <%= post.user.firstname %></a> <%= time_ago_in_words(post.created_at) %> ago</p>
                        </div>
                        <hr>
                    <% end %>
                <% end %>
                <div class ="forumindex">
                    <button><%= link_to 'Forum Index', forums_path %></button>
                </div>

                <div>
                    <h2>Add a new post</h2>
                    <%= render 'posts/form' %>
                </div>
            </div>
        </div>
    </div>

    <hr>
