<!DOCTYPE html>
<html>
<head>
  <title>Ixalumni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <% if current_page? home_path %>class="home_bg"<% end %>>

<% if disable_nav? %>
  <%= render 'layouts/nav' %>
<% end %>

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
